<?php
/*
 * Dokuwiki's Protected Configuration File - Local Settings
 * {{ ansible_generated }}
 */

/* general */

$conf['title'] = 'buildandtell - protected';
$conf['lang'] = 'en';
$conf['tagline'] = 'fsdfsdfsfs';
$conf['license'] = 'publicdomain';

$conf['useacl'] = 1;

/* auth */
$conf['superuser'] = '@admin';
$conf['authtype'] = 'authplain';

/* security */
$conf['phpok'] = 0;